[Unit]
Description = Todo Service
[Service]
Environment=REDIS_HOST=REDIS_DNSNAME
ExecStart=/bin/node /root/todo/server.js
SyslogIdentifier=todo

[Install]
WantedBy=multi-user.target
