[Unit]
Description = Todo Service
[Service]
Environment=REDIS_HOST=REDIS_DNSNAME
ExecStart=/bin/node /root/Todo-Automation/todo/server.js
SyslogIdentifier=todo
Restart=on-failure

[Install]
WantedBy=multi-user.target
